@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

$font-family-base:'Raleway', sans-serif;





$nav-link-font-size:27px;



$primary:rgba(15, 1, 1, 0.74);

$secondary:white;


@import "../node_modules/bootstrap/scss/bootstrap";

body{background-image:url(../img/fondo.jpg);
width:100%;
background-repeat: no-repeat;
background-size: cover;}

.galeria{display: flex;
flex-flow:wrap;
background-color:rgba(15, 1, 1, 0.74);}

.conteiner{display: flex;
justify-content: space-around;
background-color:rgba(228, 228, 228, 0.74);
}


