@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');



/*VARIABLES BOOSTRAP (CAMBIOS)*/

$font-family-base:'Raleway', sans-serif;


$nav-link-font-size:27px;


$primary:rgba(15, 1, 1, 0.74);

$secondary:white;


@import "../node_modules/bootstrap/scss/bootstrap";



/*BODY+FONDO*/

body{background-image:url(../img/fondo.jpg);
width:100%;
background-repeat: no-repeat;
background-size: cover;}



/*GALERIA*/

.galeria{display: flex;
flex-flow:wrap;
background-color:rgba(15, 1, 1, 0.74);}



/*TEXTO INTRO*/

.conteiner{display: flex;
justify-content: space-around;
background-color:rgba(228, 228, 228, 0.74);
}





/*FOOTER+HOVER+ICONOS*/

/*FOOTER+HOVER*/


footer{
    display: flex;
    justify-content:flex-end;
    background-color: rgba(48, 3, 3, 0.897);
    min-height:100px;
    padding:20px 50px;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

/*ICONOS*/

footer .social_icon,
.menu{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap:wrap;
}

footer .social_icon li,
footer .menu li{
    list-style:none;
}

footer .social_icon li a{
    font-size: 3em;
    color:white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

/*MENU+HOVER*/

footer .menu li a{

    font-size: 2em;
    color:white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration:none ;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}


footer p{
    text-align: center;
    margin:15px;
    margin-bottom: 10px;
    font-size:1.1em ;
}

.text-footer{
    color: white;
}


.precio{
    font-family: Arial, Helvetica, sans-serif;
}



